@font-face{
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Thin.ttf')
}

*{
  font-family: 'Poppins', monospace ;
}

body{
  display: flex;
  align-items: center;
  height: 88vh;
  justify-content: center;
  text-align: center;
  color: white;
  background: linear-gradient(to right, #2c3e50, #4ca1af); 
}